<mat-divider></mat-divider>
<footer>
<div class="col">
 <div class="lista">
    <ul class="list-group list-group-sm">
        <li class="list-group-item"> Sobre a Empresa</li>
      <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>Nossa Historia</a> 
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>Politicas</a>  
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>Cancelamento</a>
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>Fale Conosco</a>
         
    </ul>
  <div class="row">
    <ul class="list-group list-group-sm">
        <li class="list-group-item"> Duvidas</li>
      <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>Como Comprar</a> 
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>Formas de Pagamento</a>  
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>Garantia</a>
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>Entregas</a>
   
      
    </ul>
  </div>
  <div class="row">
    <ul class="list-group list-group-sm">
        <li class="list-group-item" >Nosso atendimento</li>
      <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>11-90000-0000</a> 
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="phone">
    </mat-icon>11-90000-0000</a>  
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>contato@contato.com</a>
    <a class="list-group-item" href="#"><mat-icon aria-hidden="false" fontIcon="mail">
    </mat-icon>contato@contato.com</a>
   
      
    </ul>
    </div>
 </div>
</div>
<br>
<div class="pag">
    <div class="col">
        <div class="row">
            <mat-card-header>
                <mat-card-title>Formas de Pagamento</mat-card-title>
                <img mat-card-image src="https://static.pichau.com.br/images/visa.png" width="50">
                <img mat-card-image src="https://static.pichau.com.br/images/visa.png" width="50">
            
                
                
                <img mat-card-image src="https://static.pichau.com.br/images/visa.png" width="50">
                <img mat-card-image src="https://static.pichau.com.br/images/visa.png" width="50">
     
    </mat-card-header>
                          
         
        </div>

        </div>
        
    </div>
    <br>
</footer>