

<br>
<br>

<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab label="Destaques" mat-align-label="center">
    <div class="larg">
      <figure>
        <img src="https://images.pexels.com/photos/1637436/pexels-photo-1637436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </figure>
    </div>
   </mat-tab>
  <mat-tab label="Destaques">
    <div class="larg">
      <figure>
        <img src="https://images.pexels.com/photos/1637436/pexels-photo-1637436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </figure>
    </div>

  </mat-tab>
  <mat-tab label="Destaques">
        <div class="larg">
      <figure>
        <img src="https://images.pexels.com/photos/1637436/pexels-photo-1637436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </figure>
    </div>

  </mat-tab>
</mat-tab-group>


<mat-divider></mat-divider>
<br>
<br>

<!--
  <div class="card-group">
  <div class="card">
    <img srcset="#" id="img01" alt="monitor">
      
    <div class="card-body">
      <h5 class="card-title">Monitores</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
    </div>
  </div>
 
  <div class="card">
    <button onclick="trocarImage02()">mudar imagem</button>
      <img src="/img/iconconsola-de-video.png" id="img02" alt="">
    <div class="card-body">
      <h5 class="card-title">Consoles</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
    </div>
  </div>
  
  <div class="card"><button onclick="trocarImage03()">mudar imagem</button>
    <img src="/img/iconpc.png" id="img03" alt="">
    <div class="card-body">
      <h5 class="card-title">Computadores</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere dolor justo, ut vehicula arcu vulputate in. Fusce pellentesque sapien velit, nec aliquet eros consectetur aliquet. Nam accumsan mattis velit, et pharetra turpis finibus et. Curabitur ut felis orci. In efficitur vestibulum eros. </p>
      <a href="#" class="card-link">Comprar Agora</a>
  </div>
  </div>

  
</div>
<mat-divider></mat-divider>


<br>
<br>
 -->
