<br>

<div class="container">

<mat-tab-group mat-align-tabs="center"  animationDuration="0ms" color="warn">
  
  <mat-tab label="Entrar em Contato"  >
<br>
      <p>Envie sua Mensagem</p>
      <br>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" ngModel type="text">
      </div>
      
      <div>
        <label for="email">E-mail:</label>
        
        <input id="email" name="email" ngModel type="text">
      </div>
      <br>
      <div>
               <textarea matInput id="texto" name="texto"
        rows="5" cols="33" placeholder="Deixe sua mensagem" ngModel type="text"></textarea>
        
             
      </div>
      <div>
        <button type="submit" mat-raised-button color="warn" >Enviar</button>
      </div>
    </form>
    </mat-tab>



    <mat-tab label="Nossa Localização">
      <br>

      <p>Nossa Localização </p>
      <br>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.264476452058!2d-46.18789238502289!3d-23.522988184701923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd83f25b7f87b%3A0x28b1c3bd2eea56e3!2sSENAI%20%22Nami%20Jafet%22!5e0!3m2!1spt-BR!2sbr!4v1662769055353!5m2!1spt-BR!2sbr" width="400" 
      height="300" style="border:0;"
       allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        <br>

       <p> Fazer Login </p>


          <form (ngSubmit)="onSubmit2(l)" #l="ngForm">
         <div>
           <label for="email">Email</label>
          <input id="email2" name="email" ngModel type="email">
        </div>

  
    
   
      <br>
      <mat-form-field appearance="legacy" color="accent">
        <mat-label for="senha2">Digite sua senha </mat-label>
        <input matInput name="senha2" ngModel [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

      </mat-form-field>
      <br>
  <div>
    <button type="submit" mat-raised-button color="warn">Entrar</button>
  </div>

    </form>

    </mat-tab>


  </mat-tab-group>
</div>


<br>




