<div class="new-user" id="new-user">
    <div class="container">
        <div class="title-new-user">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h2>Cadastre-se</h2>
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="row-effect">
                                    <p>Preencha o formulário</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <mat-divider></mat-divider>
                    <br>
                </div>
            </div>
           
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <label>Nome Completo</label>
                                            <input type="text" class="form-control"   matInput [(ngModel)]="cadastro.nome" name="nome">
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field>
                                        <label>Usuário</label>
                                        <input type="text" class="form-control" matInput [(ngModel)]="cadastro.usuario" name="usuario">
                                        <!-- <input type="text" class="form-control" matInput name="usuario"> -->
                                    </mat-form-field>
                                </div>
                            </div> 
                        
                            <div class="form-group">
                                <mat-form-field>
                                    <label>Senha</label>
                                    <input type="password" class="form-control" matInput [(ngModel)]="cadastro.senha" name="senha">
                                    <!-- <input type="password" class="form-control" matInput name="senha"> -->
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-12 d-flex justify-content-center" style="margin: 0 auto;">
                                    <hr class="mb-4">

                                    <div class="col-12 col-md-4 p-0">
                                        <button class="btn btn-cadastrar" (click)="createCadastro()" color="warn">Cadastrar</button> 
                                        
                                    </div>

                                    <div class="col-12 col-md-3 p-0">
                                         <button class="btn btn-cadastrar" (click)="cancelarCadastro()"  color="accent">Cancelar</button> 
                                    </div>

                                    <div class="col-12 col-md-5 p-0">
                                        <button class="btn btn-cadastrar"  (click)="tabelasCadastro()" color="accent">Todos os cadastros</button> 
                                    </div>
                                </div>
                            </div> 
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
