<mat-divider inset></mat-divider>
<br>
<br>
<br>
<br>
<mat-grid-list cols="2" rowHeight="2:1">
    
    <mat-grid-tile class="primeiro">
        
        <mat-grid-tile-header>
            <p>GTA V -DISPONIVEL PARA PLAYSTATION/ XBOX / PC </p>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>shopping_cart</mat-icon>   
                </button> Comprar Agora
              </div>
    
              <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>favorite</mat-icon>
                </button> Adicionar a Lista de Favoritos
              </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>
     
    <mat-grid-tile class="segundo">     
        <mat-grid-tile-header>
            <p>GTA V -DISPONIVEL PARA PLAYSTATION/ XBOX / PC </p>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>shopping_cart</mat-icon>   
                </button> Comprar Agora
              </div>
    
              <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>favorite</mat-icon>
                </button> Adicionar a Lista de Favoritos
              </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile class="terceiro">
        <mat-grid-tile-header>
            <p>GTA V -DISPONIVEL PARA PLAYSTATION/ XBOX / PC </p>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>shopping_cart</mat-icon>   
                </button> Comprar Agora
              </div>
    
              <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>favorite</mat-icon>
                </button> Adicionar a Lista de Favoritos
              </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile class="quarto">
        <mat-grid-tile-header>
            <p>GTA V -DISPONIVEL PARA PLAYSTATION/ PC </p>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>shopping_cart</mat-icon>   
                </button> Comprar Agora
              </div>
    
              <div class="example-button-container">
                <button mat-mini-fab color="warn" href="#">
                  <mat-icon>favorite</mat-icon>
                </button> Adicionar a Lista de Favoritos
              </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider inset></mat-divider>
  <br>
  <br>
  <br>
  <br>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Lançamentos">
       <div class="container">
        <div class="card" style="width: 18rem;">
            <img srcset="https://image.winudf.com/v2/image/Y29tLmRpc25leS5oYW1tZXJfZ29vX2ljb25fMTUyMjQ2Mjc2M18wNDk/icon.png?w=&fakeurl=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">STAR WARS LEGO</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
              <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img srcset="https://image.winudf.com/v2/image/Y29tLmRpc25leS5oYW1tZXJfZ29vX2ljb25fMTUyMjQ2Mjc2M18wNDk/icon.png?w=&fakeurl=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">STAR WARS LEGO</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
              <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img srcset="https://image.winudf.com/v2/image/Y29tLmRpc25leS5oYW1tZXJfZ29vX2ljb25fMTUyMjQ2Mjc2M18wNDk/icon.png?w=&fakeurl=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">STAR WARS LEGO</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
              <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img srcset="https://image.winudf.com/v2/image/Y29tLmRpc25leS5oYW1tZXJfZ29vX2ljb25fMTUyMjQ2Mjc2M18wNDk/icon.png?w=&fakeurl=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">STAR WARS LEGO</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
              <a href="#" class="btn btn-primary">Saber mais</a>
            </div>
          </div>
       </div>
    </mat-tab>